
header {
  background-color: #002c64;

}
.headertable{
  width: 100vh;
  border: none;
}
.headertable td{
  border: none;
}
.nav{
  text-align: center;
  border: 1px solid #002c64;
  border-radius: 25px;
}
